# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Flask
instance/
.webassets-cache

# Environment variables
.env
*.env

# Virtual environment
venv/
env/
ENV/
venv.bak/
env.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Pytest
.cache
pytestdebug.log

# Miscellaneous
*.DS_Store
*.egg-info/
dist/
build/
*.egg
